version: '3.8'

services:
  postgres:
    image: postgres:13
    container_name: superset_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - dokploy-network
    env_file:
      - .env

  redis:
    image: redis:latest
    container_name: superset_redis
    networks:
      - dokploy-network
    env_file:
      - .env

  superset:
    image: apache/superset:latest
    container_name: superset
    ports:
      - "8088:8088"
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    networks:
      - dokploy-network
    volumes:
      - ./docker/requirements-local.txt:/app/docker/requirements-local.txt
      - ./docker/pythonpath_dev/superset_config.py:/app/superset/superset_config.py

volumes:
  postgres_data:

networks:
  dokploy-network:
    external: true